<%- include('partials/header.ejs') %>
        <div class="axil-checkout-area pt-5" id="home-main" >
            <div class="container py-5" style="position: relative;">
                    <div class="row " >
                         <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"></button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"></button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"></button>
                            </li>
                           
                        </ul>
                          <div class="tab-content" id="pills-tabContent" >
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                
                                <div class="poster-countdown-wrap bg-lighter">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-6">
                                            <div class="poster-countdown-content">
                                                <div class="section-title-wrapper">
                                                    <span class="title-highlighter highlighter-secondary fw-bold"> <i class="fa-solid fa-fire"></i> Hot Deal IN This Week</span>
                                                    <h2 class="title text-capitalize">roco wireless headphones</h2>
                                                </div>
                                                <!-- <div class="poster-countdown countdown mb--40 mt-3">
                                                    100+ review
                                                </div> -->
                                                <a href="#"><button  class="axil-btn btn-bg-primary ">Shop Now</button></a>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-6 ">
                                            <div class="poster-countdown-thumbnail">
                                                <img src="	https://new.axilthemes.com/demo/template/etrade/assets/images/product/product-38.png" alt="Poster Product">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                
                                <div class="poster-countdown-wrap bg-lighter">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-6">
                                            <div class="poster-countdown-content">
                                                <div class="section-title-wrapper">
                                                    <span class="title-highlighter highlighter-secondary fw-bold"> <i class="fa-solid fa-fire"></i> Hot Deal IN This Week</span>
                                                    <h2 class="title text-capitalize">Smart Digital Watch</h2>
                                                </div>
                                                <div class="poster-countdown countdown mb--40 ">
                                                    100+ review
                                                </div>
                                                <a href="#"><button  class="axil-btn btn-bg-primary ">Shop Now</button></a>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-6 ">
                                            <div class="poster-countdown-thumbnail">
                                                <img src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/product-39.png" alt="Poster Product">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                                <div class="poster-countdown-wrap bg-lighter">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-6">
                                            <div class="poster-countdown-content">
                                                <div class="section-title-wrapper">
                                                    <span class="title-highlighter highlighter-secondary fw-bold"> <i class="fa-solid fa-fire"></i> Hot Deal IN This Week</span>
                                                    <h2 class="title text-capitalize">roco wireless headphones</h2>
                                                </div>
                                                <div class="poster-countdown countdown mb--40 mt-3">
                                                    100+ review
                                                </div>
                                                <a href="#"><button  class="axil-btn btn-bg-primary ">Shop Now</button></a>
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-6 ">
                                            <div class="poster-countdown-thumbnail">
                                                <img src="	https://new.axilthemes.com/demo/template/etrade/assets/images/product/product-38.png" alt="Poster Product">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                          </div>
                    </div>
            </div>
        </div>

        <!-- Start Categorie Area  -->
        <div class="axil-categorie-area  bg-color-white axil-section-gapcommon">
          <div class="container ">
              <div class="section-title-wrapper">
                  <span class="title-highlighter browse highlighter-secondary "> <i class="fa-solid fa-tags"></i> Categories</span>
                  <h2 class="title">Browse by Category</h2>
              </div>
              <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide slick-initialized slick-slider my-5 ">
 
              <div class="slick-list draggable">
                  <div class="slick-track d-flex flex-wrap gap-3" >
                      <div class="slick-single-layout slick-slide slick-cloned m-auto" tabindex="-1" style="width: 160px; height: fit-content;" data-slick-index="-6" aria-hidden="true">
                        <div class="categrie-product" >
                            <a href="/shop/smartphone" tabindex="-1">
                                <img class="img-fluid" src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/categories/elec-4.png" alt="product categorie">
                                <h6 class="cat-title">Phones</h6>
                            </a>
                        </div>
                            <!-- End .categrie-product -->
                      </div>
                  <div class="slick-single-layout slick-slide slick-cloned m-auto" tabindex="-1" style="width: 160px;" data-slick-index="-5" aria-hidden="true">
                      <div class="categrie-product">
                          <a href="/shop/computer" tabindex="-1">
                              <img class="img-fluid" src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/categories/elec-5.png" alt="product categorie">
                              <h6 class="cat-title">Computers</h6>
                          </a>
                      </div>
                      <!-- End .categrie-product -->
                  </div>
                  <div class="slick-single-layout slick-slide slick-cloned m-auto" tabindex="-1" style="width: 160px;" data-slick-index="-5" aria-hidden="true">
                    <div class="categrie-product">
                        <a href="/shop/accessories" tabindex="-1">
                            <img class="img-fluid" src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/categories/elec-11.png" alt="product categorie">
                            <h6 class="cat-title">Accessories</h6>
                        </a>
                    </div>
                    <!-- End .categrie-product -->
                </div>
                  <div class="slick-single-layout slick-slide slick-cloned m-auto" tabindex="-1" style="width: 160px;" data-slick-index="-4" aria-hidden="true">
                      <div class="categrie-product">
                          <a href="/shop/laptop" tabindex="-1">
                              <img class="img-fluid" src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/categories/elec-6.png" alt="product categorie">
                              <h6 class="cat-title">Laptops</h6>
                          </a>
                      </div>
                      <!-- End .categrie-product -->
                  </div>
                  <div class="slick-single-layout slick-slide slick-cloned m-auto" tabindex="-1" style="width: 160px;" data-slick-index="-2" aria-hidden="true">
                      <div class="categrie-product">
                          <a href="/shop/headphone" tabindex="-1">
                              <img class="img-fluid" src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/categories/elec-9.png" alt="product categorie">
                              <h6 class="cat-title">Headpones</h6>
                          </a>
                      </div>
                      <!-- End .categrie-product -->
                    </div>
                </div></div>
          </div>
          <hr>
         </div>
      <!-- End Categorie Area  -->

      <!-- Poster Countdown Area  -->
      <div class="axil-poster-countdown">
          <div class="container">
              <div class="poster-countdown-wrap bg-lighter">
                  <div class="row">
                      <div class="col-xl-5 col-lg-6">
                          <div class="poster-countdown-content">
                              <div class="section-title-wrapper">
                                  <span class="title-highlighter highlighter-secondary mb-3"> <i class="fa-solid fa-headphones"></i> Don’t Miss!!</span>
                                  <h2 class="title">Enhance Your Music Experience</h2>
                              </div>
                              <div class="poster-countdown countdown mb--40 mt-4">
                                    <div class="countdown-section"><div><div class="countdown-number countdown-day">0</div> <div class="countdown-unit">Day</div> </div></div>
                                    <div class="countdown-section"><div><div class="countdown-number countdown-hour">00</div><div class="countdown-unit">Hrs</div></div></div>
                                    <div class="countdown-section"><div><div class="countdown-number countdown-minute">00</div> <div class="countdown-unit">Min</div> </div></div>
                                    <div class="countdown-section"><div><div class="countdown-number countdown-second">00</div> <div class="countdown-unit">Sec</div> </div></div>
                                </div>
                              <a href="#"><button  class="axil-btn btn-bg-primary ">Check it Out!</button></a>
                          </div>
                      </div>
                      <div class="col-xl-7 col-lg-6 ">
                          <div class="poster-countdown-thumbnail">
                              <img src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/poster/poster-03.png" alt="Poster Product">
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Poster Countdown Area  -->

      <div class="axil-most-sold-product axil-section-gap " style="padding-bottom: 0;" >
        <div class="container">
            <div class="product-area ">
                <div class="section-title-wrapper section-title-center">
                    <span class="title-highlighter highlighter-primary"><i class="fas fa-star"></i> Most Sold</span>
                    <h2 class="title">Most Sold in eTrade Store</h2>
                </div>
                <div class="row row-cols-xl-2 row-cols-1 row--15 mt-5">
                    <div class="col">
                        <div class="axil-product-list">
                            <div class="thumbnail">
                                <a href="single-product.html">
                                    <img data-sal="zoom-in"  src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/electric/product-11.png" alt="Yantiti Leather Bags" class="sal-animate">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    
                                    <span class="rating-number"><span>100+</span> Reviews</span>
                                </div>
                                <h6 class="product-title"><a href="single-product.html">Media Remote</a></h6>
                                <div class="product-price-variant">
                                    <span class="price current-price">$29.99</span>
                                    <span class="price old-price text-decoration-line-through fw-normal mx-2">$49.99</span>
                                </div>
                                <div class="product-cart">
                                    <a href="cart.html" class="cart-btn" title="add to cart"><i class="fa-solid fa-cart-shopping"></i></a>
                                    <a href="wishlist.html" class="cart-btn" title="add to wishlist"><i class="fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="axil-product-list">
                            <div class="thumbnail">
                                <a href="single-product.html">
                                    <img data-sal="zoom-in" data-sal-delay="200" data-sal-duration="1500" src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/electric/product-11.png" alt="Yantiti Leather Bags" class="sal-animate">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    
                                    <span class="rating-number"><span>50+</span> Reviews</span>
                                </div>
                                <h6 class="product-title"><a href="single-product.html">HD Camera</a></h6>
                                <div class="product-price-variant">
                                    <span class="price current-price">$49.99</span>
                                    <span class="price old-price text-decoration-line-through fw-normal mx-2">$49.99</span>

                                </div>
                                <div class="product-cart">
                                    <a href="/cart/<%=product._id%>" class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                                    <a href="/wishlist/<%=product._id%>" class="cart-btn"><i class="fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>

      <!-- Start Why Choose Area  -->
      <div class="axil-why-choose-area pb--50 pb_sm--30">
          <div class="container">
              <div class="section-title-wrapper section-title-center">
                  <span class="title-highlighter highlighter-secondary"><i class="fa-solid fa-thumbs-up"></i>Why Us</span>
                  <h2 class="title">Why People Choose Us</h2>
              </div>
              <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 row--20 mt-4">
                  <div class="col m-auto">
                      <div class="service-box">
                          <div class="icon">
                              <img src="https://new.axilthemes.com/demo/template/etrade/assets/images/icons/service6.png" alt="Service">
                          </div>
                          <h6 class="title">Fast &amp; Secure Delivery</h6>
                      </div>
                  </div>
                  <div class="col m-auto">
                      <div class="service-box">
                          <div class="icon">
                              <img src="https://new.axilthemes.com/demo/template/etrade/assets/images/icons/service7.png" alt="Service">
                          </div>
                          <h6 class="title">100% Guarantee On Product</h6>
                      </div>
                  </div>
                 
                  <div class="col m-auto">
                      <div class="service-box">
                          <div class="icon">
                              <img src="https://new.axilthemes.com/demo/template/etrade/assets/images/icons/service9.png" alt="Service">
                          </div>
                          <h6 class="title">24 Hour Return Policy</h6>
                      </div>
                  </div>
                  <div class="col m-auto">
                      <div class="service-box">
                          <div class="icon">
                              <img src="https://new.axilthemes.com/demo/template/etrade/assets/images/icons/service10.png" alt="Service">
                          </div>
                          <h6 class="title">Next Level Pro Quality</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Why Choose Area  -->


      <!-- Start Axil Product Poster Area  -->
      <div class="axil-poster">
          <div class="container">
              <div class="row" >
                  <div class="col-lg-6 mb-2">
                      <div class="single-poster">
                          <a href="shop.html">
                              <img src="	https://new.axilthemes.com/demo/template/etrade/assets/images/product/poster/poster-01.png" alt="eTrade promotion poster">
                              <div class="poster-content">
                                  <div class="inner">
                                      <h3 class="title">Rich sound, <br> for less.</h3>
                                      <span class="sub-title">Collections <i class="fa-solid fa-arrow-right"></i></span>
                                  </div>
                              </div>
                              <!-- End .poster-content -->
                          </a>
                      </div>
                      <!-- End .single-poster -->
                  </div>
                  <div class="col-lg-6 mb-2">
                      <div class="single-poster">
                          <a href="shop-sidebar.html">
                              <img src="https://new.axilthemes.com/demo/template/etrade/assets/images/product/poster/poster-02.png" alt="eTrade promotion poster">
                              <div class="poster-content content-left">
                                  <div class="inner">
                                      <span class="sub-title">50% Offer In Winter</span>
                                      <h3 class="title">Get VR <br> Reality Glass</h3>
                                  </div>
                              </div>
                              <!-- End .poster-content -->
                          </a>
                      </div>
                      <!-- End .single-poster -->
                  </div>
              </div>
          </div>
      </div>
      <!-- End Axil Product Poster Area  -->

      
<%- include('partials/subscription.ejs') %>
<%- include('partials/support.ejs') %>
<%- include('partials/footer.ejs') %>
